<ul class="es-nav nav es-nav-tabs nav-tabs" id="assetp-tabs">
    <li id="asset-description" class="active">
        <a href="#tab-properties" data-toggle="tab" data-type="basic">{{t "Description"}}</a>
    </li>
    <li id="user-reviews">
        <a href="#tab-reviews" data-toggle="tab" data-type="comments">{{t "User Reviews"}}</a>
    </li>
    <li>
        <a href="#tab-copyright" data-toggle="tab" data-type="basic">{{t "File Details"}}</a>
    </li>
</ul>

<div class="tab-content">
        <div class="tab-pane active" id="tab-properties">
            <div class="content">

            </div>
        </div>
        <div class="tab-pane" id="tab-copyright">
        <div class="content">
            <div>

            </div>
        </div>
        </div>
</div>